.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.inputsBox {
  background-color: #c6c6c6;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #555;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 250px;
}

.slot {
  width: 36px;
  height: 36px;
  padding: 2px;
}

.outputSlot {
  width: 54px;
  height: 54px;
  padding: 2px;
  position: relative;
}

.countBadge {
  position: absolute;
  bottom: 0px;
  right: 2px;
  color: white;
  text-shadow: 1px 1px 0 #000;
  font-weight: bold;
  font-size: 1rem;
  font-family: monospace;
}
